.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.Button {
  width: fit-content;
}

img {
  max-width: 100%;
}

.Bounce {
  animation: bounce 500ms ease-out 0ms infinite;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  50% {transform: translateY(-50px);}
  100% {transform: translateY(0px);}
}